@using Rockmelon.Business.Criteria
@using Rockmelon.Repository.Entities
 <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
                <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                <li class="active"><a href="@Url.Action("Index", "ImportRecipe")">Import Recipe</a></li>
            </ul>
        </div>
    </div>
</div>
